@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    --bg-orange: #CE9A60;
    --bg-priority-urgent: #FFBDBD;
    --font-color_red: #E72828;
    --bg-gray: #969696;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    margin-right: 20px;
}

#btn_ml {
    background-color: #203855;
    padding: 13px 10px;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

#btn_settings {
    margin-left: 41px;
}

#tit_principal {
    display: flex;
    padding: 14px 0 5px 0;
}


#cont_tit_princ {
    margin-bottom: 10px;
}

#cont_tit_princ {
    margin-bottom: 10px;
}

#cont_tit_princ p {
    font-size: 9px;
    color: #2B3F6C;
}

#tit_principal img {
    margin-right: 15px;
}

h1 {
    font-weight: 700;
    font-size: 32px;
}

#container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 40px;
}

aside {
    color: #203855;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding-top: 114px;
}

aside ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}

aside li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.active {
    color: var(--bg-orange);
}

#principal {
    width: 85%;
}

#cont_prueba {
    background: #F3F3F3;
    padding: 20px;
    border-radius: 10px;
}

#cont_prueba h2 {
    padding: 20px 0;
    font-weight: 700;
    font-size: 24px;
    width: 100%;
}

#info_prueba {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

#info_prueba h3 {
    font-weight: 700;
    font-size: 14px;
}


#info_prueba h3:nth-child(4) {
    width: 660px;
}

#info_prueba h3 span {
    font-weight: 500;
}


.btn_primary {
    background: #203855;
    border-radius: 5px;
    font-weight: 700;
    font-size: 11px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 2px;
    place-items: center;
}

.btn_primary img {
    /* margin-right: 5px; */
}

.btn_primary img {
    margin-right: 5px;
}

#cont_prueba {
    background: #F3F3F3;
    padding: 20px;
    border-radius: 10px;
}

#cont_prueba h2 {
    padding: 20px;
    font-weight: 700;
    font-size: 24px;
}

#info_prueba {
    display: flex;
}

#info_prueba h3 {
    font-weight: 700;
    font-size: 14px;
}

/* db icon */
.bg-database {
    background-color: var(--bg-gray);
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 8px;
    border-radius: 4px;
    margin: 17px;
}

/* db icon */

/* recruiting table */
#recruiting_table {
    display: flex;
    background-color: #EEEEEE;
    border-radius: 8px;
    height: 100%;
    padding: 12px;
    justify-content: space-between;
}



#column-content {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.column-tittle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 12px;
    margin-bottom: 12px;
    gap: 10px;
}

.container-card {
    display: flex;
    gap: 12px;
    margin: 0 auto;
    padding: 12px;
    Width: 303px;
    Height: 52px;
    border-radius: 10px;
    align-items: center;
    background-color: #FAFAFA;
}

.user-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.user_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 12px;
    font-weight: 700;
}

.user-data {
    display: flex;
    gap: 10px;
}

.percent {
    background-color: var(--bg-orange);
    border-radius: 23px;
    padding: 0px 10px;
    align-self: flex-end;
    font-size: 13px;
    color: #ffffff
}

.select {
    background-color: var(--bg-gray);
    border-radius: 4px;
    width: 130px;
    color: #ffffff;
    font-size: 11px;
    line-height: 14px;
}

.date {
    font-size: 8px;

}

/* recruiting table */
#cont_prueba {
    background: #F3F3F3;
    padding: 20px;
    border-radius: 10px;
}

#cont_prueba h2 {
    padding: 20px 0;
    font-weight: 700;
    font-size: 24px;
}

#info_prueba {
    display: flex;
}

#info_prueba h3 {
    font-weight: 700;
    font-size: 14px;
}

.border_bt {
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 11px;
}

#orden {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#orden div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#star {
    background: #CE9A60;
    border: 1px solid #CE9A60;
    border-radius: 3px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pd_t {
    padding-top: 13px;
}

#cont_btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

h4 {
    font-weight: 500;
    font-size: 14px;
}

.btn_secundary {
    background: #CE9A60;
    border: 1px solid #CE9A60;
    border-radius: 4px;
    padding: 1px 3px;
    font-weight: 700;
    font-size: 14px;
    color: white;
}

.btn_blue {
    background: #203855;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    place-items: center;
    color: white;
    font-weight: 700;
    font-size: 11px;
    padding: 5px 5px;
}

.btn_blue img,
.simple_blue,
.simple_grey {
    width: 14px;
}

.simple_blue {
    background: #203855;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
}

.simple_grey {
    background: #979797;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    width: 30px;
    height: 30px;
}

#urgente {
    background: #FFBDBD;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 14px 1fr;
    place-items: center;
    gap: 5px;
    padding: 3px 10px;
}

.flex {
    display: flex;
}

#search {
    width: 455px;
    background: #D9D9D9;
    border-radius: 6px;
    padding: 0 6px;
    margin-right: 5px;
}

#delete {
    border: 1px solid #2B3F6C;
    border-radius: 4px;
}

.btn_cancel {
    background: #E72828;
    border-radius: 5px;
    font-weight: 700;
    font-size: 11px;
    color: white;
}

.btn_width {
    width: 166px;
    height: 25px;
}

#actions {
    justify-content: flex-end;
    align-items: center;
}

#cont_actions div:nth-child(1),
#actions {
    padding: 20px 0px !important;
}

.gap_divs {
    gap: 6px;
}

#cont_actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#cont_actions div {
    padding: 20px 22px;
    gap: 12px;
}